.wrapper {
  background-color: lightblue;
  height: 100vh;
  padding-top: 20vh;
}

.input {
  width: 30vw;
  margin: 1vw;
  text-align: center;
}

.label {
  margin-top: 2vh;
  text-align: start;
  font-family: "Syncopate", sans-serif;
}

@media screen and (max-width: 1100px) {
  .input {
    width: 65vw;
    margin: 1vw;
  }
}

@media screen and (max-width: 762px) {
  .input {
    width: 80vw;
    margin: 1vw;
  }
}
